# Sanity check - Nutrition, physical activity and obesity
---

## 0. Configuração do ambiente

In [1]:
# bibliotecas

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# base de dados

data = pd.read_csv('../nutrition_physical_activity_and_obesity/Nutrition__Physical_Activity__and_Obesity.csv')

In [3]:
data.shape

(88629, 33)

In [4]:
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

In [5]:
data['LocationDesc'].value_counts()

LocationDesc
National                1652
West Virginia           1652
Oklahoma                1652
Mississippi             1652
Oregon                  1652
Wisconsin               1652
Kansas                  1652
Florida                 1652
Idaho                   1652
Arizona                 1652
Montana                 1652
Georgia                 1652
North Carolina          1652
Pennsylvania            1652
North Dakota            1652
South Carolina          1652
Nebraska                1652
Tennessee               1652
Missouri                1652
Nevada                  1652
Iowa                    1652
Indiana                 1652
Ohio                    1652
Alaska                  1652
Vermont                 1652
Colorado                1652
Kentucky                1652
Utah                    1652
New York                1652
Wyoming                 1652
District of Columbia    1652
Alabama                 1652
Rhode Island            1652
Delaware                1652
Washington              1652
Maine                   1652
Michigan                1652
Virginia                1652
California              1652
Texas                   1652
Connecticut             1652
Massachusetts           1652
Arkansas                1652
Illinois                1652
New Hampshire           1652
New Mexico              1652
Maryland                1652
Minnesota               1652
Hawaii                  1652
Louisiana               1652
South Dakota            1652
New Jersey              1409
Puerto Rico             1232
Guam                    1176
Virgin Islands           560
Name: count, dtype: int64